<!doctype html>
<html>
    <head>
        <title>app name</title>
        <link rel="stylesheet" type="text/css" href="/style.css">
    </head>
    <body>
        <h1>Skate Log</h1>

        <%- content %>
    </body>
</html>
